{% extends "bootstrap/base.html" %}

{% block title %} x1ah's blog {% endblock %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for("static", filename="bootstrap.css") }}" type="text/css">
    <meta name="viewport" content="width=device-width, height=device-height">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-family: serif">x1ah</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/about">Life</a></li>
        <li class="active"><a href="/about">About</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">更多<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              {% if current_user.email %}
              <li><a href="/logout">Log Out</a></li>
              {% else %}
            <li><a href="/login">Log In</a></li>
              {% endif %}
            <li class="divider"></li>
            <li><a href="/new">写作</a></li>
            <li class="divider"></li>
            <li><a href="/">留言板</a></li>
            <li class="divider"></li>
            <li><a href="#">Fork me on GitHub</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
    {% block tags %}{% endblock %}
</div>
<div class="footer">
    test footer
    <div style="margin-top:-23px"><a href="#top">
        <span class="glyphicon glyphicon-tree-conifer" style="">
            TOP
        </span>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var cssEl = document.createElement('style');
        document.documentElement.firstElementChild.appendChild(cssEl);

        function setPxPerRem(){
            var dpr = 1;
            //把viewport分成10份的rem，html标签的font-size设置为1rem的大小;
            var pxPerRem = document.documentElement.clientWidth * dpr / 10;
            cssEl.innerHTML = 'html{font-size:' + pxPerRem + 'px!important;}';
        }
        setPxPerRem();
    </script>
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN")}}
{% endblock %}

