{% extends "bootstrap_to_material/base.html" %}

{% block title %} x1ah's blog {% endblock %}

{% block hscript %}
    <script>
        function side()
        {
            $(".button-collapse").sideNav();
            $('.carousel.carousel-slider').carousel({full_width: true});
            $(document).ready(function() {
                $('select').material_select();
                $('.tooltipped').tooltip({delay: 50});
            });
        }
    </script>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/materialize.min.css") }}" media="screen,projection"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
{% endblock %}

{% block body_attribs %}
    onload="side();"
{% endblock %}

{% block navbar %}
<nav {% block navbar_style %}{% endblock %}>
    <div class="nav-wrapper grey darken-3">
      <a href="/" class="brand-logo">x1ah</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about">About</a></li>
        <li><a href="/life">Life</a></li>
        <li><a href="/message_board">留言板</a></li>
        <li><a href="http://github.com/x1ah">GitHub</a></li>
        {% if current_user.email %}
        <li><a href="/new">Write</a></li>
        <li><a href="/logout">Log Out</a></li>
        {% else %}
        <li><a href="/login">Log In</a></li>
        {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/life">Life</a></li>
        <li><a href="http://github.com/x1ah">GitHub</a></li>
        <li><a href="/message_board">留言板</a></li>
        {% if current_user.email %}
        <li><a href="/new">Write</a></li>
        <li><a href="/logout">Log Out</a></li>
        {% else %}
        <li><a href="/login">Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  {% block display %}{% endblock %}
{% endblock %}


{% block content %}
 <div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
      <li><a href="javascript:scroll(0, 0)" class="btn-floating green"><i class="material-icons">publish</i></a></li>
    </ul>
  </div>

    <div class="container">
        {% block page_content %}{% endblock %}
        {% block tags %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Hello my world</h5>
        <p class="grey-text text-lighten-4">Live free or die!<br/>Keep It Simple! Stupid!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">友情链接</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="http://ajucs.com">Aju</a></li>
          <li><a class="grey-text text-lighten-3" href="http://wuwenfu.cn">吴文付的博客</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Text
    <a class="grey-text text-lighten-4 right" href="http://github.com/x1ah/XBlog">Fork me on GitHub</a>
    </div>
  </div>
</footer>
{% for message in get_flashed_messages() %}
<script>
    Materialize.toast('{{ message }}', 3000, 'rounded');
</script>
{% endfor %}
{% endblock %}

{% block scripts %}
    <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN")}}
{% endblock %}

