{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block tags %}
<!--
            {% for category in categories %}
            <span class="badge">{{ categories[category] }}</span>
            <a href="{{ url_for('main.category', categy=category) }}" style="color: #337ab7">{{ category }}</a>
            {% endfor %}
-->
{% endblock %}

{% block home_active %}
{% if home %}
class="active" 
{% endif %}
{% endblock %}

{% block life_active %}
{% if life %}
class="active"
{% endif %}
{% endblock %}

{% block page_content %}
<div class="row">
    {% include "_index.html" %}
</div>
    {{ macros.pagination_widget(pagination, "main.index") }}

<!--<div class="page-header">
    {% for post in posts %}<a href="{{ url_for('main.post', pid=post.id) }}" style="color: inherit">
    <div class="jumbotron modal-content">
        <h1><center>{{ post.title }}</center></h1>
        <center><span class="glyphicon glyphicon-calendar">{{ post.timestamp.strftime(format="%Y-%m-%d") }}</span></center>
        {% if post.about_this_article_html %}
        {{ post.about_this_article_html | safe }}
        {% else %}
        {{ post.about_this_article }}
        {% endif %}
        <span class="glyphicon glyphicon-send" style="float: left"></span>
        {% for category in Category.query.filter_by(posts=post.id).all() %}
        <p><a href="{{ url_for('main.category', categy=category.category_name) }}" style="color: #337ab7;float:left">
            <span class="label label-success">{{ category.category_name }}</span>
        </a></p>
        {% endfor %}
        {% if current_user.email %}
        <p><a href="{{ url_for('main.edit', pid=post.id) }}" class="btn btn-danger read-more">编辑</a></p>
        <p><a href="{{ url_for('main.delete', pid=post.id) }}" class="btn btn-danger read-more">删除</a></p>
        {% endif %}
        <p><a href="{{ url_for('main.post', pid=post.id) }}" class="btn btn-danger read-more">阅读全文</a></p>
    </div>
    </a>
    {% endfor %}
</div>
-->
{% endblock %}
