{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap_to_material/wtf.html" as wtf %}

{% block title %}留言板{% endblock %}

{% block navbar_style %}
style="margin-bottom:40px"
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col s12">
        <div class="card hoverable">
        <div class="card-content">
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="-1" data-title="message_board" data-url="{{ url_for('main.message_board') }}"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
            var duoshuoQuery = {short_name:"xiahei"};
                (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0] 
                || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
                </script>
            <!-- 多说公共JS代码 end -->
        </div>
        </div>
    </div>
        <!--
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
      {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>

  {% for message in msg %}
  <div class="col s12">
    <div class="card hoverable">
      <div class="card-content">
        <h5><i class="small material-icons" style="vertical-align: middle">perm_identity</i><a href="{{ message.user_site }}">{{ message.user_name }}</a></h5>
        <p><i class="tiny material-icons" style="vertical-align: middle">today</i>{{ message.timestamp.strftime(format="%Y-%m-%d") }}</p>
        <br/>
        {% if message.message_html %}
        <p>{{ message.message_html | safe }}
        {% else %}
        <p>{{ message.message }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}
{{ macros.pagination_widget(pagination, "main.message_board") }}
        -->
</div>
{% endblock %}
