{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block title %}Hello world{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>script>
{% endblock %}

{% block content %}
{{ container() }}
  {{ row() }}
    {{ col(['s12', 'm6']) }}
      {{ util.card("Hello world card", wtf.quick_form(form)) }}
    {{ enddiv() }}
    {{ col(['s12', 'm6']) }}
      {{ util.card("Isn't Flask greate?", "<p>i really do enjoy it!</p>", [["https://github.com", "GitHub"]]) }}
    {{ enddiv() }}
  {{ enddiv() }}
  {% include "material/pagination.html" %}
{{ enddiv() }}

    <div class="row">
        <div class="col s12 m4 13">
<div class="card-panel hoverable">test card-panel</div>
        </div>
        <div class="col s12 m8 19">
<div class="card-panel hoverable">test card-panel</div>
        </div>
    </div>
{% endblock %}


