{% extends "material/base.html" %}
{% import "material/utils.html" as util %}
{% import "material/wtf.html" as wtf %}

{% block title %}Hello world{% endblock %}

{% block content %}
{{ container() }}
  {{ row() }}
    {{ col(['s12', 'm6']) }}
      {{ util.card("Hello world card", wtf.quick_form(form)) }}
    {{ enddiv() }}
    {{ col(['s12', 'm6']) }}
      {{ util.card("Isn't Flask greate?", "<p>i really do enjoy it!</p>", [["https://github.com", "GitHub"]]) }}
    {{ enddiv() }}
  {{ enddiv() }}
{{ enddiv() }}
{% endblock %}
